.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    color: red;
}
#select {
    
    display: inline;
    margin: .75em;
    
}
.logo {
    max-width: 50px;
    max-height: 50px;
    margin-right: 80%;
    float: left;
}
